
<div class="container mt-5 text-center">
    

    <div class="row align-items-center">
      <div class="col">
        
        <div class="card mb-3" style="max-width: 18rem;">
            <div class="card-header text-bg-dark">
                <p>Account</p>
                <span>No : {{ accountNumber() }}</span>
            </div>
            <div class="card-body">
              <h5 class="card-title">Balance</h5>
              <p><strong>{{ (balanceValue()).toFixed(3) | currency:'$':'symbol':'1.0' }}</strong></p>
            </div>
        </div>

        <div class="border"></div>

      </div>
      
    </div>
    
</div>