<div class="container text-start mt-5 mb-5 p-3 border">
    <div class="row">

        <form [formGroup]="signupForm" (ngSubmit)="submitSignUpForm()">
            @if ( loadingValidation ) {
                <div class="error fs-error">Verifying...</div> 
            }
        
            <div class="col align-self-center">
            
                <div class="mb-3">
                    <label for="firstName" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="firstName" 
                    [formControl]="firstNameControl"
                    placeholder="Santiago"
                    >
                </div>
                <div class="mb-3">
                    <label for="lastName" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="lastName" 
                    
                    [formControl]="lastNameControl"
                    placeholder="Salamanca">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" 
                    
                    [formControl]="emailControl"
                    placeholder="santiago@mail.com">
                </div>

                <label for="password" class="form-label">Password</label>
                <input type="password" id="password" class="form-control" aria-describedby="passwordHelpBlock"
                
                [formControl]="passwordControl"
                >
                <div id="passwordHelpBlock" class="form-text">
                Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
                </div>

                <label for="password2" class="form-label">Confirm Password</label>
                <input type="password" id="password2" class="form-control" aria-describedby="passwordHelpBlock"
                
                [formControl]="password2Control"
                >
                <div class="row p-1">
                    @if ( passwordControl.touched && password2Control.touched &&   !arePasswordsEqual ) {
                        <div class="error fs-error">Las contraseñas no coinciden.</div> 
                    }

                </div>
                <div class="container mt-2"></div>


                <div class="vstack gap-2 col-md-5 mx-auto">
                    <button type="submit" class="btn btn-primary"
                        [disabled]="signupForm.invalid || loadingValidation"
                    >Register</button>
                </div>
            </div>  
        </form>
        <div class="container mt-3">

            <div class="vstack gap-2 col-md-5 mx-auto">
                <button type="button" class="btn btn-primary" (click)="showLoginForm()">Return to Login</button>
            </div>
        </div>
    </div>
</div>